

<!-- 
<div class="accordion" id="accordionExample">
  <div class="card" *ngFor="let track of workflowTracksList; let i=index">
    <div class="card-header" id="headingOne">
      <h2 class="mb-0">
        <button class="btn btn-link" type="button" data-toggle="collapse" [attr.data-target]="'#details' + i"  aria-expanded="true" aria-controls="collapseOne">
          Collapsible Group Item #{{i}}
        </button>
      </h2>
    </div>

    <div id="#details{{i}}" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
      <div class="card-body">
        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
      </div>
    </div>
  </div>
-->
<div class="row" *ngIf="workflowTracksList && workflowTracksList.length!=0">
  <div class="col col-xl-12 col-lg-12">
      <div class="card mb-3">
          <div class="card-header">
              Workflow Tracks
          </div>
         <div class="card-body table-responsive">
       
          <ngx-datatable class="ngx-datatable bootstrap expandable"
              #myTable
              [rows]="workflowTracksList"
              
              [columnMode]="'force'"
              [headerHeight]="50"
              [footerHeight]="50"
              [rowHeight]="'auto'"
              [limit]="10"
              >
              <!-- Row Detail Template -->
              <ngx-datatable-row-detail
              [rowHeight]="auto"
              #myDetailRow
              (toggle)="onDetailToggle($event)"
            >
              <ng-template
                let-row="row"
                let-expanded="expanded"
                ngx-datatable-row-detail-template
              >
                <div style="padding-left:35px;">
                  <app-workflow-track [workflowTrackMasterId]="getTrackMasterId(row)"></app-workflow-track>
                </div>
              </ng-template>
            </ngx-datatable-row-detail>

            <!-- Column Templates -->
            <ngx-datatable-column
            [width]="50"
            [resizeable]="false"
            [sortable]="false"
            [draggable]="false"
            [canAutoResize]="false"
            >
            <ng-template
              let-row="row"
              let-expanded="expanded"
              ngx-datatable-cell-template
            >
              <a
                href="javascript:void(0)"
                [class.datatable-icon-right]="!expanded"
                [class.datatable-icon-down]="expanded"
                title="Expand/Collapse Row"
                (click)="toggleExpandRow(row)"
              >
              </a>
            </ng-template>
            </ngx-datatable-column>



              <ngx-datatable-column [width]="50" name="#">
                  <ng-template let-rowIndex="rowIndex"  ngx-datatable-cell-template>
                      {{rowIndex+1}}
                  </ng-template>
                 
              </ngx-datatable-column>
              <ngx-datatable-column prop="id" name="id"  ></ngx-datatable-column>
              <ngx-datatable-column prop="requestedUser.username" name="requested User"  ></ngx-datatable-column>
              <ngx-datatable-column prop="workflowMaster.workflowName" name="Workflow"  ></ngx-datatable-column>
              
              <ngx-datatable-column name="trackDate" > 
                <ng-template let-column="column" let-sort="sortFn" ngx-datatable-header-template> 
                    <span (click)="sort()">Start Date</span>
                </ng-template> 
                <ng-template let-value="value" ngx-datatable-cell-template>
                        {{value}}
                </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column prop="completed" name="Is completed"  ></ngx-datatable-column>
              
            <!-- <ngx-datatable-column  [minWidth]="50" [maxWidth]="70" name="Details" >
                <ng-template #openBtn let-row="row"  ngx-datatable-cell-template>
                    <a [routerLink]="" (click)="open(content,row)"><i class="fa fa-fw fa-eye"></i></a>
                </ng-template>
            </ngx-datatable-column> -->
          </ngx-datatable>
      </div>
  </div>
</div>
</div> 
<!-- <ng-template #content let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title">Workflow Track Details</h4>
    <button type="button" class="close" aria-label="Close" (click)="d('Close click')">
        <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <app-workflow-track [workflowTrackMasterId]="workflowTrackMasterId"></app-workflow-track>
    
 
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" (click)="c('Close click')">Close</button>
  </div>
  </ng-template> -->