


    <mdb-card *ngIf="workflowTracksList && workflowTracksList.length!=0" cascade="true" narrower="true" [ngClass]="{'z-depth-0': false }">

        <!--Card image-->
        <div class="view view-cascade gradient-card-header blue-gradient narrower py-2 mx-4 mb-3 d-flex justify-content-between align-items-center">

              
            <div>
              </div>
                <a href="" class="white-text mx-3">Workflow Tracks</a>
                <div>
                  </div>
                

            </div>
            <!--/Card image-->


    <div class="px-4">

        <div class="table-wrapper">

       
          <ngx-datatable class="ngx-datatable bootstrap expandable"
              #myTable
              [rows]="workflowTracksList"
              
              [columnMode]="'force'"
              [headerHeight]="50"
              [footerHeight]="50"
              [rowHeight]="'auto'"
              [limit]="10"
              >
              <!-- Row Detail Template -->
              <ngx-datatable-row-detail
              [rowHeight]="auto"
              #myDetailRow
              (toggle)="onDetailToggle($event)"
            >
              <ng-template
                let-row="row"
                let-expanded="expanded"
                ngx-datatable-row-detail-template
              >
                <div style="padding-left:35px;">
                  <app-workflow-track [workflowTrackMasterId]="getTrackMasterId(row)"></app-workflow-track>
                </div>
              </ng-template>
            </ngx-datatable-row-detail>

            <!-- Column Templates -->
            <ngx-datatable-column
            [width]="50"
            [resizeable]="false"
            [sortable]="false"
            [draggable]="false"
            [canAutoResize]="false"
            >
            <ng-template
              let-row="row"
              let-expanded="expanded"
              ngx-datatable-cell-template
            >
              <a
                href="javascript:void(0)"
                [class.datatable-icon-right]="!expanded"
                [class.datatable-icon-down]="expanded"
                title="Expand/Collapse Row"
                (click)="toggleExpandRow(row)"
              >
              </a>
            </ng-template>
            </ngx-datatable-column>



              <ngx-datatable-column [width]="50" name="#">
                  <ng-template let-rowIndex="rowIndex"  ngx-datatable-cell-template>
                      {{rowIndex+1}}
                  </ng-template>
                 
              </ngx-datatable-column>
              <ngx-datatable-column prop="id" name="id"  ></ngx-datatable-column>
              <ngx-datatable-column prop="requestedUser.username" name="requested User"  ></ngx-datatable-column>
              <ngx-datatable-column prop="workflowMaster.workflowName" name="Workflow"  ></ngx-datatable-column>
              
              <ngx-datatable-column name="trackDate" > 
                <ng-template let-column="column" let-sort="sortFn" ngx-datatable-header-template> 
                    <span (click)="sort()">Start Date</span>
                </ng-template> 
                <ng-template let-value="value" ngx-datatable-cell-template>
                        {{value}}
                </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column prop="completed" name="Is completed"  ></ngx-datatable-column>
              
            <!-- <ngx-datatable-column  [minWidth]="50" [maxWidth]="70" name="Details" >
                <ng-template #openBtn let-row="row"  ngx-datatable-cell-template>
                    <a [routerLink]="" (click)="open(content,row)"><i class="fa fa-fw fa-eye"></i></a>
                </ng-template>
            </ngx-datatable-column> -->
          </ngx-datatable>
      </div>
  </div>
  </mdb-card>
 
<!-- <ng-template #content let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title">Workflow Track Details</h4>
    <button type="button" class="close" aria-label="Close" (click)="d('Close click')">
        <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <app-workflow-track [workflowTrackMasterId]="workflowTrackMasterId"></app-workflow-track>
    
 
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" (click)="c('Close click')">Close</button>
  </div>
  </ng-template> -->