<div *ngFor="let rule of formRules">
    <!-- <div class="row">
      <div class="col-xl-10"> -->
        <a class="list-group-item ml-2 mr-2 mt-1" [routerLink]="" (click)="editRule(rule)" >
            
            <span>{{rule.formRuleName}}</span>
            <a [routerLink]=""  (click)="deleteRule(rule) "  style="position: absolute; right: 2px !important">
                    <mdb-icon fas icon="trash-alt" ></mdb-icon></a>
        </a>
      <!-- </div>
      <div class="col-xl-2"> -->
        <!-- <a [routerLink]="" (click)="addNewRule()">
            <i  class="fa fa-fw fa-times" aria-hidden="true" ></i>
        </a> -->
    <!-- </div> -->
<!-- </div> -->
</div>
<a [routerLink]="" (click)="addNewRule()">
    <i  class="fa fa-fw fa-plus" ></i>
</a>
<form *ngIf="formRule!=null" >
    <div class="form-content " >
        <div class="md-form form-sm">
            <input type="text" class="form-control" id="formRuleName"  [(ngModel)]="formRule.formRuleName" name="formRuleName" mdbInput>
            <label  for="formRuleName">Rule name</label>

        </div>

        <div class="form-group form-group-sm mb-2">
            <label class="form-control-label mb-1" for="componentType">Rule type</label>
            <select  id="ruleType" name="ruleType" [(ngModel)]="_ruleTypeId" class="browser-default form-control input-underline form-control-sm " (ngModelChange)="onChange($event)" >
              <option value="" disabled selected>>select a type</option>
              <option *ngFor="let formRuleType of formRuleTypes" [value]="formRuleType.id" >{{formRuleType.ruleTypeName}}</option>
            </select>
           
        </div>
        <div class="md-form form-sm" *ngFor="let parameterValue of formRule.formRuleParameterValues; let i=index">
            <input mdbInputDirective type="text" class="form-control" id="formRuleParameterValue{{i}}"  [(ngModel)]="parameterValue.formRuleParameterValue" name="formRuleParameterValue{{i}}">
            <label for="ParameterLabel">{{parameterValue.formRuleTypeParameter.parameterLabel}}</label>
       
        </div>
    </div>
    <!-- <button type="button" class="btn btn-secondary" (click)="saveRule()">Add</button> -->
    <!-- <button type="button" class="btn btn-secondary" (click)="clearRule()">Clear</button> -->
</form>