
<form role="form" #formForm="ngForm" >
           
      <div class="form-content "  >
       
          <div class="form-group" [hidden]="formDesign.hide" *ngFor="let formDesign of formDesignDto.formDesigns; let i = index" >
            <app-form-design [formDesign]="formDesign"></app-form-design>
            <!-- <label *ngIf="formDesign.componentType!=checkComponent"  class="form-control-label" for="{{formDesign.componentName}}">{{formDesign.componentLabel}}</label>

              <p *ngIf="formDesign.componentType==labelComponent else select_content"  class="form-control-static">{{formDesign.componentValue}}</p>
              <ng-template #select_content>
                  <div *ngIf="formDesign.componentType==selectComponent else radio_content" >
                      
                    <select  [(ngModel)]="formDesign.componentValue" class="form-control input-underline form-control-sm " name="{{formDesign.componentName}}" >
                        
                            <option  disabled selected value="" > >item</option>
                            <option  *ngFor="let refValueOb of formDesign.componentRefValues" > {{refValueOb.refValue}}</option>
                        
                    </select>
                </div>
              </ng-template>
              <ng-template #radio_content>
                    <div *ngIf="formDesign.componentType==radioComponent else check_content"  >
                        
                        <div *ngFor="let refValueOb of formDesign.componentRefValues; let j=index"  class="radio">
                                <label>
                                    <input type="radio" name="{{formDesign.componentName}}" id="optionsRadios1" [(ngModel)]="formDesign.componentValue" value="{{refValueOb.refValue}}" checked=""> {{refValueOb.refValue}}
                                </label>
                            </div>
                    </div>
            </ng-template>
            <ng-template #check_content>
                    <div *ngIf="formDesign.componentType==checkComponent else other_content" class="form-check form-check-inline mb3">
                              
                            <label  class="form-check-label">
                                    <input type="checkbox" class="form-check-input"  name="{{formDesign.componentName}}" [(ngModel)]="formDesign.componentValue"   >{{formDesign.componentLabel}}
                            </label>
                    </div>
            </ng-template>
              <ng-template #other_content>
                  <input  type="{{formDesign.componentType}}" [(ngModel)]="formDesign.componentValue" name="{{formDesign.componentName}}" class="form-control input-underline form-control-sm "  >
              </ng-template>
-->
          </div>
         
      </div>
      <!-- [(ngModel)]="{{formDesign.componentName}}" -->
     
     
  </form>