<form role="form" #formForm="ngForm" (ngSubmit)="onUpdate(formForm)">
           
      <div class="form-content ">
       
          <div class="md-form form-sm">
              
              <input mdbInputDirective type="text" class="form-control" id="formName"  [(ngModel)]="form.formName" name="formName">
              <label for="formName">form Name</label>
          </div>
          <div class="md-form form-sm">
              
              <input mdbInputDirective type="text" class="form-control" id="formDesc"  [(ngModel)]="form.formDesc" name="tableDesc">
              <label  for="formDesc">Desc</label>
          </div>
          <div class="form-group">
              <label class="form-control-label" for="table">Table</label>
            
              <select [(ngModel)]="_virtualTableId" id="table" name="table" class="browser-default custom-select border-bottom " >
                <option value="" disabled selected>>select a table</option>
                <option *ngFor="let item of virtualTableList" [value]="item.id">{{item.tableName}}</option>
              </select>
          </div>
          <div class="form-group">
            <label class="form-control-label" for="user groups">Allowed access for </label>
          </div>
          <mdb-checkbox [hidden]="true"></mdb-checkbox>
          <div class="form-group"  *ngFor="let userRole of userRoles; let i = index">
            
              <div class="checkbox">
                
                    <input type="checkbox" class="form-control form-check-input" id="roleSelect{{i}}"  [checked]="_userRoleSelectedIds.indexOf(userRole.id) != -1"  name="roleSelect{{i}}"  (change)="handleChange($event,userRole)" >
                    
                    <label for="roleSelect{{i}}" class="form-check-label">{{userRole.type}} </label>
              </div>
           
          </div>
      </div>
      
     
      <button type="submit" class="btn rounded-btn" [disabled]="!formForm.form.valid">{{!isNew ? 'Update' : 'Save'}}</button>
     
  </form>
  <!-- {{virtualTableList|json}} -->