.text-path{
    // fill: grey;
    stroke: grey;
}

  .modal{
      overflow-y: auto;
  }

  .remove{
    margin-left: -30px;
    margin-top: -30px;
   
    position: absolute;
  }
  .published{
    color: green
  }