<div [@routerTransition]>
    <app-page-header  [heading]="processName" [icon]="'fa-file-o'" [back]="'process'"></app-page-header>
   
    <div class="row mt-3">
        <div class="col-sm-12">
                <!-- <div class="card-body"> -->
                    <ngb-tabset>
                        <ngb-tab>
                            <ng-template ngbTabTitle>Virtual Tables</ng-template>
                            <ng-template ngbTabContent>
                                    <br />
                                    <app-virtual-table [processId]="processId"></app-virtual-table>
                                   
                            </ng-template>
                            
                        </ngb-tab>
                        <ngb-tab title="Forms">
                            <ng-template ngbTabContent>
                                    <br />
                                    <app-form [processId]="processId"></app-form>
                            </ng-template>
                        </ngb-tab>
                        <ngb-tab>
                            <ng-template ngbTabTitle>Workflows</ng-template>
                            <ng-template ngbTabContent>
                                    <br />
                                    <app-workflow [processId]="processId"></app-workflow>
                            </ng-template>
                        </ngb-tab>
                        <ngb-tab>
                            <ng-template ngbTabTitle>Workflow Tracks</ng-template>
                            <ng-template ngbTabContent>
                                    <br />
                                    <app-workflow-track [processId]="processId"></app-workflow-track>
                            </ng-template>
                        </ngb-tab>
                        
                    </ngb-tabset>
                
            <!-- </div> -->
        </div>  
        </div>

