<div [@routerTransition]>

        <mdb-card class="mb-5">
            <mdb-card-body class=" py-1">
              <div class="row">
      
                  <div class="col-xl-3 col-lg-6 col-md-6">
      
                     
                          <div class="md-form  input-group">
                                  
                              <input class="form-control" type="text" [(ngModel)]="fil_User.firstName" 
                              name="userName" id="userName" (keyup)='updateFilter($event)' mdbInput>
                                  <label for="userName">Filter first name</label>
                          </div>
                  </div>
                  <div class="col-xl-3 col-lg-6 col-md-6">
                          <div class="md-form  input-group">
                                  
                                <input class="form-control" type="text" [(ngModel)]="fil_User.lastName" 
                                name="userName" id="lastName" (keyup)='updateFilter($event)' mdbInput>
                                    <label for="lastName">Filter last name</label>
                            </div>
                    </div>
                    <div class="col-xl-3 col-lg-6 col-md-6">
                            <div class="md-form  input-group">
                                  
                                <input class="form-control" type="text" [(ngModel)]="fil_User.email" 
                                name="userName"  id="email" (keyup)='updateFilter($event)' mdbInput>
                                    <label for="email">Filter email</label>
                            </div>
                     
                     
                  </div>
      
              </div>
       </mdb-card-body>
    
    </mdb-card>

   
    <mdb-card cascade="true" narrower="true" [ngClass]="{'z-depth-0': false }">

            <!--Card image-->
            <div class="view view-cascade gradient-card-header blue-gradient narrower py-2 mx-4 mb-3 d-flex justify-content-between align-items-center">
    
                    <div>
                        <button type="button" class="btn btn-outline-white btn-rounded btn-sm px-2" (click)="open(content,null,true)" >
                            <mdb-icon fas icon="plus" class="mt-0"></mdb-icon>
                        </button>
                        <!-- (click)="open(content,null,true)" -->
                    </div>
    
                    <a href="" class="white-text mx-3">Workflow List</a>
                    <div>
                        </div>
                
    
                </div>
                <!--/Card image-->
    
    
        <div class="px-4">
    
            <div class="table-wrapper">
    
                    <ngx-datatable class="ngx-datatable bootstrap"
                        #table
                        [rows]="users"
                        
                        [columnMode]="'force'"
                        [headerHeight]="50"
                        [footerHeight]="50"
                        [rowHeight]="'auto'"
                        [limit]="10"
                        
                        
                        
                        >
                        <ngx-datatable-column [width]="50" name="#">
                            <ng-template let-rowIndex="rowIndex"  ngx-datatable-cell-template>
                                {{rowIndex+1}}
                            </ng-template>
                           
                        </ngx-datatable-column>
                       
                        <ngx-datatable-column prop="firstName" name="First Name"  ></ngx-datatable-column>
                        <ngx-datatable-column prop="lastName" name="Last Name"  ></ngx-datatable-column>
                        <ngx-datatable-column name="Email"></ngx-datatable-column>
                        <ngx-datatable-column [width]="50" name="Roles" >
                            <ng-template #assignBtn let-user="row"  ngx-datatable-cell-template>
                                <a [routerLink]="" (click)="assignRolesClick(content2,user)"><i class="fa fa-fw fa-users"></i></a>
                            </ng-template>
                        </ngx-datatable-column>
                        <ngx-datatable-column  [minWidth]="200" [maxWidth]="200" name="Actions" >
                            <ng-template #actionBtn let-user="row"  ngx-datatable-cell-template>
                                    <div>
                                        
    
                                            <a [routerLink]="" (click)="open(content,user)" class="ml-0">
                                                <mdb-icon fas icon="pencil-alt" class="mt-0"></mdb-icon>
                                            </a>
                                            <a [routerLink]="" (click)="deleteUser(user)" class="ml-3">
                                                <mdb-icon fas icon="trash-alt" class="mt-0"></mdb-icon>
                                            </a>
                                           
                                        </div>
                                
                            </ng-template>
                        </ngx-datatable-column>
                        
                    </ngx-datatable>
                </div>
            </div>
    </mdb-card>
    </div> 
    
    
<ng-template #content let-c="close" let-d="dismiss">
    <div class="modal-header">
        <h4 class="modal-title">User</h4>
        <button type="button" class="close" aria-label="Close" (click)="d('Close click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <app-user-modal [user]="modalUser"  (updated)="onUpdated($event)"></app-user-modal>
       
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="c('Close click')">Close</button>
    </div>
</ng-template>

<ng-template #content2 let-c="close" let-d="dismiss">
        <div class="modal-header">
            <h4 class="modal-title">User Roles: {{modalUser.firstName}}</h4>
            <button type="button" class="close" aria-label="Close" (click)="d('Close click')">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <app-user-role-modal [user]="modalUser"   (updatedUserRoles)="onUpdatedUserRoles($event)"></app-user-role-modal>
           
        </div>
       
    </ng-template>