<!-- {{formDesign|json}} -->
<a class="list-group-item m-2" [routerLink]="" [class.selected]="selected" [class.hidden]="formDesign.hide" (focus)="focus()" (focusout)="focusout()"  >
    <div class="action-icons">
            <a [routerLink]="" [class.remove]="true" [class.mr-1]="true"  (click)="deleteComponent()"  ><mdb-icon far icon="trash-alt"></mdb-icon></a>
         
            <a *ngIf="formDesign.formRules && formDesign.formRules.length!=0"  [routerLink]="" [class.hide]="true"  >
                <i  class="fa fa-fw" [class.fa-eye]="formDesign.hide" [class.fa-eye-slash]="!formDesign.hide" ></i>
            </a>
    </div>
            <!-- *ngIf="formDesign.formRules && formDesign.formRules.length!=0" -->
            <div  >
                <app-form-design [formDesign]="formDesign" [isDisableComponent]="true"></app-form-design>
               
            </div>
           
</a>