
<a class="list-group-item m-2" [routerLink]="" [class.selected]="selected" [class.hidden]="formDesign.hide" (focus)="focus()" (focusout)="focusout()"  >
    
            <a [routerLink]="" [class.remove]="true"  (click)="deleteComponent()"  ><i class="fa fa-fw fa-remove"  ></i></a>
         
            <a *ngIf="formDesign.formRules && formDesign.formRules.length!=0" [routerLink]="" [class.hide]="true"  ><i  class="fa fa-fw" [class.fa-eye]="formDesign.hide" [class.fa-eye-slash]="!formDesign.hide" ></i></a>
            <div  >
                <app-form-design [formDesign]="formDesign" [isDisableComponent]="true"></app-form-design>
                <!-- <label *ngIf="formDesign.componentType!=checkComponent" class="form-control-label" for="formName">{{formDesign.componentLabel}}</label>
                <p *ngIf="formDesign.componentType==labelComponent else select_content"  class="form-control-static">{{formDesign.componentValue}}</p>
                <ng-template #select_content>
                    <select  *ngIf="formDesign.componentType==selectComponent else radio_content" class="form-control input-underline form-control-sm " readonly >
                        <option value="" disabled selected > >item</option>
                        <option value="" *ngFor="let refValueOb of formDesign.componentRefValues" > {{refValueOb.refValue}}</option>
                        
                    </select>
                </ng-template>
                <ng-template #radio_content>
                        <div *ngIf="formDesign.componentType==radioComponent else check_content"  >
                                <div  *ngFor="let refValueOb of formDesign.componentRefValues; let j=index"  class="radio">
                                    <label>
                                        <input type="radio" name="optionsRadios" id="optionsRadios{{j}}" value="{{refValueOb.refValue}}" checked="" readonly>{{refValueOb.refValue}}
                                    </label>
                                </div>
                            </div>
                </ng-template>
                <ng-template #check_content>
                    <div *ngIf="formDesign.componentType==checkComponent else other_content" class="form-check form-check-inline mb3">
                               
                            <label  class="form-check-label">
                                    <input type="checkbox" class="form-check-input"   readonly >{{formDesign.componentLabel}}
                            </label>
                            
                    </div>
                </ng-template>
                <ng-template #other_content>
                    <input  type="{{formDesign.componentType}}" class="form-control input-underline form-control-sm " value="{{formDesign.componentValue}}" readonly >
                </ng-template> -->
            </div>
           
</a>