<!-- <div class="card "> -->
   
    <!-- <div class="card-body"> -->
        <form >
      <div class="form-content ">
        <div class="md-form form-sm">
            
            <input mdbInputDirective type="text" class="form-control " id="componentName"  [(ngModel)]="formDesign.componentName" name="componentName">
            <label  for="componentName">Component name</label>
        </div>
        <div class="md-form form-sm">
          <input mdbInputDirective type="text" class="form-control" id="componentLabel"  [(ngModel)]="formDesign.formComponent.componentLabel" name="componentLabel">
          <label for="componentLabel">Component label</label>
        </div>
        <div class="md-form form-sm">
            <input mdbInputDirective type="text" class="form-control" id="componentValue"  [(ngModel)]="formDesign.formComponent.componentValue" name="componentValue">
            <label for="componentValue">Component value</label>
         
          </div>
        <!-- {{formDesign|json}} -->
                  <!-- {{refTableMap.get(formDesign.formComponent.virtualTableField.fieldName)|json}} -->
        <div class="form-group">
            <label class="form-control-label " for="componentType">Component type</label>
            <select  id="componentType" name="componentType" [(ngModel)]="formDesign.componentType" class="browser-default form-control input-underline form-control-sm  " >
              <option value="" disabled selected>>select a type</option>
              <option *ngFor="let item of componentTypeList" >{{item}}</option>
            </select>
            <!-- <mdb-select [options]="componentTypeList" placeholder="Choose your option"></mdb-select> -->
        </div>
        
        <!-- <ng-template #ref_values_content> -->
        <div class="card" *ngIf="formDesign.componentType==radioComponent || formDesign.componentType==selectComponent ">
            <div class="card-body">
                
              <div  *ngIf="!refTableMap.get(formDesign.formComponent.virtualTableField.fieldName)" >
                
                 
                  <div class="row" *ngFor="let componentRefValue of formDesign.formComponent.componentRefValues;let i=index" >
                    <div class="md-form form-sm col-10 m-0">
                        <input mdbInput  type="text" id="refValue{{i}}" name="refValue{{i}}" [(ngModel)]="componentRefValue.refValue" class="form-control">
                        <label  for="refValue{{i}}">Ref Value {{i}}</label>
                    </div>
                    <div class="col-2 m-0">
                        <a  (click)="OnRemoveRefValue(formDesign.formComponent.componentRefValues,componentRefValue)">
                            <mdb-icon fas icon="times"></mdb-icon>
                          </a>
                      </div>
                    
                  </div>
                  <a  (click)="OnAddRefValue(formDesign.formComponent.componentRefValues)">
                      <i  class="fa fa-fw fa-plus" ></i>
                    </a>
                  
                
              </div>
              
              <div *ngIf="refTableMap.get(formDesign.formComponent.virtualTableField.fieldName)">
                 
                  <div class="form-group">
                      <label class="form-control-label" for="refValue">ref. Value</label>
                      <select   name="refValue" [(ngModel)]="formDesign.formComponent.componentRefValues[0].refValue" class="browser-default form-control input-underline form-control-sm  " >
                        <option value="" disabled selected>>select a value</option>
                        <option *ngFor="let item of refTableMap.get(formDesign.formComponent.virtualTableField.fieldName)" >{{item}}</option>
                      </select>
                    </div>
              </div>
            </div>
      </div>
 
        <div class="md-form form-sm">
          
          <input mdbInputDirective type="text" class="form-control " id="alignOrder"  [(ngModel)]="formDesign.alignOrder" name="alignOrder">
          <label for="alignOrder">Align order</label>
        </div>
        <!-- {{formDesign.virtualTableField|json}} -->
        <!-- {{virtualTableFieldsList|json}} -->
        <div class="form-group">
            <label class="form-control-label" for="alignOrder">Table field</label>
            <select  id="virtualTableField" name="virtualTableFieldfsafsa" class="browser-default form-control input-underline form-control-sm  "  [(ngModel)]="formDesign.formComponent.virtualTableField"  (ngModelChange)="onChange($event)" >
                <option value="" disabled selected>>select a field</option>
                <option *ngFor="let virtualTableField of virtualTableFieldsList" [ngValue]="virtualTableField">{{virtualTableField.fieldName}}</option>
              </select>
         </div>
         <div class="card">
           <div class="card-body">
              <span class="badge  badge-light mr-1" *ngFor="let formRule of formDesign.formRules">{{formRule.formRuleName}}
                <a [routerLink]="" (click)="removeFormRule(formRule)">
                  <i  class="fa fa-fw fa-times" aria-hidden="true" ></i>
                </a>
              </span>
              <select *ngIf="showRulesCompo"  id="formRule" name="formRule" class="browser-default form-control input-underline form-control-sm "  ngModel  (ngModelChange)="onChangeFormRule($event)" >
                <option value="" disabled selected>>select rule</option>
                <option *ngFor="let formRule of formRules" [ngValue]="formRule">{{formRule.formRuleName}}</option>
              </select>     
              <a [routerLink]="" (click)="addNewRule()">
                  <i  class="fa fa-fw fa-plus" ></i>
              </a>
           </div>
        </div>
     </div>
     
      </form>
    <!-- </div> -->
  <!-- </div> -->