
<div [@routerTransition]>
<app-page-header *ngIf="!processId" [heading]="'Virtual Table'" [icon]="'fa-file-o'"></app-page-header>
<div class="row"> 
  <div class="col col-xl-2 ">
          
      <div class="card mb-2 ">
          <button type="button" class="btn btn-default" (click)="open(content,null,true)"  >New <i class="fa fa-w fa-folder-o"></i></button>
      </div>
  </div>
</div>
<div class="row">
      <div class="col col-xl-12 col-lg-12">
          <div class="card mb-3">
              <div class="card-header">
                  Virtual Table List
              </div>
          <div class="card-body table-responsive">
                  <input
                  type='text' [(ngModel)]="filter_VirtualTable.tableName"
                  style='padding:5px;margin:15px auto;'
                  placeholder='Filter table name...'
                  (keyup)='updateFilterEvent($event)'
              />
              
             
              <ngx-datatable class="ngx-datatable bootstrap"
                  #table
                  [rows]="virtualTableList"
                  
                  [columnMode]="'force'"
                  [headerHeight]="50"
                  [footerHeight]="50"
                  [rowHeight]="'auto'"
                  [limit]="10"
                  
                  
                  
                  >
                  <ngx-datatable-column [minWidth]="50" [maxWidth]="50" name="#">
                      <ng-template let-rowIndex="rowIndex"  ngx-datatable-cell-template>
                          {{rowIndex+1}}
                      </ng-template>
                     
                  </ngx-datatable-column>
                  <ngx-datatable-column prop="tableName" name="Table Name" [minWidth]="200"  ></ngx-datatable-column>
                  <ngx-datatable-column prop="tableDesc" name="Desc" [minWidth]="100"  ></ngx-datatable-column>
                  <ngx-datatable-column prop="autoIncr" name="Auto Incr." [minWidth]="100"  ></ngx-datatable-column>
                  <ngx-datatable-column prop="process.processName" name="process"  ></ngx-datatable-column>                  
                  <ngx-datatable-column  [minWidth]="50" [maxWidth]="70" name="Edit">
                      <ng-template  let-row="row"  ngx-datatable-cell-template>
                          <a [routerLink]="" (click)="open(content,row,false)"><i class="fa fa-fw fa-edit"></i></a>
                      </ng-template>
                     
                  </ngx-datatable-column>
                  <ngx-datatable-column  [minWidth]="50" [maxWidth]="70" name="Data">
                    <ng-template  let-row="row"  ngx-datatable-cell-template>
                        <a [routerLink]="" (click)="OnClickViewData(content2,row)"><i class="fa fa-fw fa-eye"></i></a>
                    </ng-template>
                   
                </ngx-datatable-column>
                  <ngx-datatable-column  [minWidth]="50" [maxWidth]="70" name="Del." >
                      <ng-template #deleteBtn let-row="row"  ngx-datatable-cell-template>
                          <a [routerLink]="" (click)="delete(row)"><i class="fa fa-fw fa-remove"></i></a>
                      </ng-template>
                  </ngx-datatable-column>
                  
              </ngx-datatable>
          </div>
      </div>
  </div>



<ng-template #content let-c="close" let-d="dismiss">
<div class="modal-header">
  <h4 class="modal-title">Virtual Table</h4>
  <button type="button" class="close" aria-label="Close" (click)="d('Close click')">
      <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <app-virtual-table-modal #virtualTableModal  [virtualTableFieldsConstraintDto]="modalVirtualTableFieldsConstraintDto"  [dataTypes]="dataTypes"
  [isNew]="isNew" [processList]="processList"    >
</app-virtual-table-modal>
 
</div>
<div class="modal-footer">
  <button type="button" class="btn rounded-btn" (click)="OnClickSubmit()" >{{!isNew ? 'Update' : 'Save'}}</button>
  <button type="button" class="btn btn-secondary" (click)="c('Close click')">Close</button>
</div>
</ng-template>
<ng-template #content2 let-c="close" let-d="dismiss">
    <div class="modal-header">
      <h4 class="modal-title">Virtual Table Data</h4>
      <button type="button" class="close" aria-label="Close" (click)="d('Close click')">
          <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
        <app-virtual-table-record [tableId]="tableId"></app-virtual-table-record>
     
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-secondary" (click)="c('Close click')">Close</button>
    </div>
    </ng-template>