<app-workflow-node-properties-dir [node]="formNode" [formList]="formList" 
[childWokflowList]="childWokflowList" [actionEventList]="actionEventList" [users]="users" 
[userGroups]="userGroups" ></app-workflow-node-properties-dir>
<!-- <div *ngFor="let actionNode of totalActionNodes">
        <app-workflow-node-properties-dir [node]="actionNode" [formList]="" 
        [childWokflowList]="" [actionEventList]="actionEventList" [users]="users" 
        [userGroups]="userGroups" ></app-workflow-node-properties-dir>
</div> -->


