
  
  <app-workflow-design-sidenav [workflowName]="workflow.workflowName" (openNodePopEmit)="open($event)" (openLinkPopEmit)="openLinkPop($event)" (updateEmit)="onUpdatedDesign()" ></app-workflow-design-sidenav>
  <div  class="fluid  mt-5">
<section class="main-container" >
 <!-- {{nodes|json}} -->
 <!-- {{links|json}} -->

<div class="row justify-content-between">
  <div class="col-sm-8 workflow-container ">
      
    <!-- <div class="container main-head">
      <div class="row justify-content-between">
          <div class="col-4">
          </div>
          <div class="col-1">
              <mdb-badge color="cyan">
                  <a   mdbWavesEffect (click)="alignToCenter()" > 
                    <mdb-icon fas icon="save" class="action-icon"></mdb-icon>
                  </a>
                  </mdb-badge>
          </div>
        </div>
      </div> -->


      <!-- <section class="main-head">
          <div class="d-flex">
              <div class="mr-auto p-1">
            
              <h5 > <mdb-badge class="px-2" color="black">{{workflow.workflowName}}</mdb-badge></h5>
              </div>
              
              <div class="p-1 mr-1">
                    <mdb-badge color="cyan">
                      <a   mdbWavesEffect (click)="onUpdatedDesign(nodes)" > 
                        <mdb-icon fas icon="save" class="action-icon"></mdb-icon>
                      </a>
                </mdb-badge>
              </div>
              
          </div>
      </section> -->

      <ngx-graph
      class="chart-container"
     
      [layout]="layout"
      [layoutSettings]="layoutSettings"
      [links]="links"
      (legendLabelClick)="onLegendLabelClick($event)"
      [nodes]="nodes"
      [autoCenter]="true"
      [curve]="curve"
      
      (select)="select($event)">
    
      <ng-template #defsTemplate>
        <svg:marker id="arrow" viewBox="0 -5 10 10" refX="8" refY="0" markerWidth="4" markerHeight="6" orient="auto">
          <svg:path d="M0,-5L10,0L0,5" class="arrow-head" />
        </svg:marker>
      </ng-template>
      <!-- <ng-template #clusterTemplate let-cluster>
          <svg:g class="node cluster" ngx-tooltip [tooltipPlacement]="'top'" [tooltipType]="'tooltip'" [tooltipTitle]="cluster.label">
            <svg:rect rx="5" ry="5" [attr.width]="cluster.dimension.width" [attr.height]="cluster.dimension.height" [attr.fill]="cluster.data.color" />
          </svg:g>
        </ng-template> -->
      <ng-template #nodeTemplate let-node >
         <!-- <div style="width: 200px;height: 200px; background-color: red" (click)="nodeClicked(node)">
            {{node.label}}
         </div> -->
            <svg:g class="node"
              ngx-tooltip
              [tooltipPlacement]="'top'"
              [tooltipType]="'tooltip'"
              [tooltipTitle]="node.label"
              (click)="nodeClicked(node)"
              (dblclick)="OnDoubleClickNode(node)"
             >
              
                <svg:rect  rx="20" ry="20" [attr.width]="node.dimension.width" [attr.height]="node.dimension.height" [attr.fill]="node.color" class="custom-node" />
                <svg:text alignment-baseline="central" [attr.x]="10" [attr.y]="(node.dimension.height / 2)+5">{{node.label}}</svg:text>
              
            </svg:g>
       
      </ng-template>
    
      <ng-template #linkTemplate let-link>
          <svg:g class="edge" (click)="linkClicked(link)">
              <svg:path class="line" stroke-width="2" marker-end="url(#arrow)">
                  
              </svg:path>
              <svg:text class="edge-label" text-anchor="middle">
                <textPath class="text-path p-3" [attr.href]="'#' + link.id" [style.dominant-baseline]="link.dominantBaseline" startOffset="50%">
                  {{link.label}}
                  
                </textPath>
              </svg:text>
              
            </svg:g>
           
      </ng-template>
    
    </ngx-graph>

  </div>
  <div class="col-sm-4">
    <mdb-card >
      <div class="row mb-3">

             <div class="col-md-12">
 
 
               <mdb-tabset #staticTabs [buttonClass]="'nav md-pills pills-dark'" [justified]="true" [contentClass]="'card'">
                
                 <mdb-tab heading="Properties">
                   <div class="row">
                     <div class="col-12" *ngIf="nodeSelected">
                        <app-workflow-node-properties-dir  [node]="node" [formList]="workflowFormsList" [childWokflowList]="childWokflowList" [actionEventList]="actionEventList" [users]="users" [userGroups]="userGroups" >
                        </app-workflow-node-properties-dir>
                        <button type="button" class="btn btn-secondary mr-2" (click)="updateNodePropertiesClick()" >OK</button>
                        <button type="button" class="btn btn-secondary" (click)="deleteNodeClick()">Delete</button>
                     </div>
                     <div class="col-12" *ngIf="linkSelected">
                        <app-workflow-link-properties-dir  [link]="link" [nodes]="nodes"  >
                        </app-workflow-link-properties-dir>
                          <button type="button" class="btn btn-secondary" (click)="updateLinkPropertiesClick()">OK</button>
                     </div>
                   </div>
                 </mdb-tab>
             </mdb-tabset>

     </div>


   </div>
   </mdb-card>

  </div>
</div>


  
</section>
<!-- <section class="property-section mt-5">
    <mdb-card >
        <div class="row mb-3">
  
               <div class="col-md-12">
   
   
                 <mdb-tabset #staticTabs [buttonClass]="'nav md-pills pills-dark'" [justified]="true" [contentClass]="'card'">
                  
                   <mdb-tab heading="Properties">
                     <div class="row">
                       <div class="col-12" *ngIf="nodeSelected">
                          <app-workflow-node-properties-dir  [node]="node" [formList]="workflowFormsList" [childWokflowList]="childWokflowList" [actionEventList]="actionEventList" [users]="users" [userGroups]="userGroups" >
                          </app-workflow-node-properties-dir>
                          <button type="button" class="btn btn-secondary mr-2" (click)="updateNodePropertiesClick()" >OK</button>
                          <button type="button" class="btn btn-secondary" (click)="deleteNodeClick()">Delete</button>
                       </div>
                       <div class="col-12" *ngIf="linkSelected">
                          <app-workflow-link-properties-dir  [link]="link" [nodes]="nodes"  >
                          </app-workflow-link-properties-dir>
                            <button type="button" class="btn btn-secondary" (click)="updateLinkPropertiesClick()">OK</button>
                       </div>
                     </div>
                   </mdb-tab>
               </mdb-tabset>
  
       </div>
  
  
     </div>
     </mdb-card>
</section> -->
<!-- <nav class="sidebar-right"  >
  <div class="card mb-3">
      <div class="card ">
          <div class="card-header">
            Properties
          </div>
          <div class="card-body" [hidden]="!nodeSelected">
            <app-workflow-node-properties-dir  [node]="node" [formList]="workflowFormsList" [childWokflowList]="childWokflowList" [actionEventList]="actionEventList" [users]="users" [userGroups]="userGroups" >
              </app-workflow-node-properties-dir>
              <button type="button" class="btn btn-secondary mr-2" (click)="updateNodePropertiesClick()" >OK</button>
              <button type="button" class="btn btn-secondary" (click)="deleteNodeClick()">Delete</button>
          </div>
          <div class="card-body" [hidden]="!linkSelected">
            <app-workflow-link-properties-dir  [link]="link" [nodes]="nodes"  >
            </app-workflow-link-properties-dir>
              <button type="button" class="btn btn-secondary" (click)="updateLinkPropertiesClick()">OK</button>
          </div>
          
        </div>
  </div>
</nav> -->
</div>
<ng-template #nodeContent let-c="close" let-d="dismiss" style="overflow-y: auto">
    <!-- <div class="modal-content"> -->
        <div class="modal-header">
            <h4 class="title">
                <mdb-icon fas icon="pencil-alt"></mdb-icon> Workflow Node
            </h4>
            <button type="button" class="close waves-effect waves-light" data-dismiss="modal" aria-label="Close" (click)="d('Close click')">
            <span aria-hidden="true">×</span>
            </button>
        </div>
        <div class="modal-body mb-0">
            <app-workflow-node-properties-dir  [node]="node" [formList]="workflowFormsList" [childWokflowList]="childWokflowList" [actionEventList]="actionEventList"  [users]="users" [userGroups]="userGroups"  >
              </app-workflow-node-properties-dir>
        </div>
    <!-- </div> -->
<!-- 
  <div class="modal-header">
    <h4 class="modal-title">Workflow Node</h4>
    <button type="button" class="close" aria-label="Close" (click)="d('Close click')">
        <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <app-workflow-node-properties-dir  [node]="node" [formList]="workflowFormsList" [childWokflowList]="childWokflowList" [actionEventList]="actionEventList"  [users]="users" [userGroups]="userGroups"  >
  </app-workflow-node-properties-dir>
   
  </div> -->
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" (click)="c('Close click')">OK</button>
    <button type="button" class="btn btn-secondary" (click)="d('Dismiss click')">Close</button>
  </div>
</ng-template>
  <ng-template #linkContent let-c="close" let-d="dismiss">
    <div class="modal-header">
      <h4 class="modal-title">Workflow Link</h4>
      <button type="button" class="close" aria-label="Close" (click)="d('Close click')">
          <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <app-workflow-link-properties-dir  [link]="link" [nodes]="nodes"  >
    </app-workflow-link-properties-dir>
     
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-secondary" (click)="c('Close click')">OK</button>
      <button type="button" class="btn btn-secondary" (click)="d('Dismiss click')">Close</button>
    </div>
    </ng-template>
