<!--Double navigation-->
<header>

        <!-- Sidebar navigation -->
        <mdb-sidenav #sidenav class="wide sn-bg-5 fixed " [fixed]="true" [sidenavBreakpoint]="1200" >
   
<!-- <div class="design"> -->
    <links >
        <p class="h8 m-3">{{designform.formName}}</p>
     
     
      <!-- Side navigation links -->
      <li>
        <ul class="collapsible collapsible-accordion" >
            <mdb-squeezebox [multiple]="true" aria-multiselectable="false">

                <mdb-item>
                    <mdb-item-head mdbWavesEffect>
                        <!-- <mdb-icon fas icon="tachometer-alt" class="mr-1"></mdb-icon>  -->
                        <mdb-icon fab icon="wpforms" class="mr-1"></mdb-icon>
                        Form Action
                    </mdb-item-head>
                    <mdb-item-body>
                        <ul>
                            <li>
                                <a  class="waves-effect" (click)="autoGenerateComponents()" mdbWavesEffect>Auto generate</a>
                            </li>
                            <li>
                                <a  class="waves-effect" (click)="createNewComponent()" mdbWavesEffect>Component</a>
                            </li>
                           
                        </ul>
                    </mdb-item-body>
                </mdb-item>
                <mdb-item>
                    <mdb-item-head mdbWavesEffect>
                        <!-- <mdb-icon fas icon="camera" class="mr-1"></mdb-icon>  -->
                        <mdb-icon fas icon="table" class="mr-1"></mdb-icon>
                        Tables
                    </mdb-item-head>
                    <mdb-item-body>
                        <ul>
                            <li>
                                <mdb-item>
                                    <mdb-item-head mdbWavesEffect>
                                        <!-- <mdb-icon fas icon="camera" class="mr-1 ml-1"></mdb-icon>  -->
                                        <mdb-icon fas icon="table" class="mr-1 ml-1"></mdb-icon>
                                        {{designform.virtualTableMaster.tableName}}
                                    </mdb-item-head>
                                    <mdb-item-body>
                                            <ul>
                                                    <li *ngFor="let virtualTableField of virtualTableFieldsList; let i = index">
                                                            <a  class="waves-effect" mdbWavesEffect>{{virtualTableField.fieldName}}</a>
                                                    </li>
                                                   
                                            </ul>
                                    </mdb-item-body>
                                </mdb-item>
                            </li>
                            
                           
                        </ul>
                    </mdb-item-body>
                </mdb-item>
               
              </mdb-squeezebox>
        </ul>
      </li>
      <!--/. Side navigation links -->
    </links>
</mdb-sidenav>
<!--/. Sidebar navigation -->

<!-- SideClass="navbar fixed-top navbar-expand-md scrolling-navbar" -->
<!-- Navbar -->
<mdb-navbar SideClass="navbar fixed-top navbar-expand-md double-nav" [containerInside]="false">
    <navlinks class="navbar-container">
        <!-- SideNav slide-out button -->
        <div class="float-xs-left">
            <a (click)="sidenav.show()" class="button-collapse-non-fixed">
                <mdb-icon fas icon="bars"></mdb-icon>
            </a>
        </div>
        <!--/. SideNav slide-out button -->
    </navlinks>
    <logo>
        <!-- Breadcrumb-->
        <div class="breadcrumbs breadcrumb-dn mr-auto">
            <p>eForms</p>
        </div>
        <!--/. Breadcrumb-->
    </logo>
    <navlinks>

        <ul class="nav navbar-nav nav-flex-icons ml-auto ie-double-nav">
            <li class="nav-item">
             
                <a (click)="goBack()" class="mr-3">
                        <mdb-icon fas icon="arrow-left" class="ml-1"></mdb-icon> Go back</a>
            </li>
            <li class="nav-item">
                 
                    <a   mdbWavesEffect (click)="updateClick()" class="mr-3" title="save"> 
                         <mdb-icon fas icon="save" class="action-icon"></mdb-icon>
                    </a>
                </li>
                <li class="nav-item">
                 
                        <a  (click)="previewClick()" class="mr-3" title="preview" > 
                                <span aria-hidden="true"><mdb-icon far icon="eye" class="action-icon"></mdb-icon></span>
                              </a>
                    </li>
           
        </ul>

    </navlinks>

</mdb-navbar>
<!--/. Navbar -->

</header>
<!--/.Double navigation-->