<div [@routerTransition]>
<app-page-header [heading]="''" [icon]="''"></app-page-header>
<!-- <div class="row">
  
  
  <div class="col-lg-12">
      <div class="card card-default mb-3">
          <div class="card-header">
              <i class="fa fa-bell fa-fw"></i> Published Workflows
          </div>
       
          <div class="card-body">
            <div class="list-group">
                <a *ngFor="let publishedWorkflow of publishedWorkflows"  [routerLink]="" class="list-group-item clearfix d-block" (click)="OnWorkflowClick(publishedWorkflow,content)" >
                    <i class="fa fa-cogs fa-fw"></i> {{publishedWorkflow.workflowName}}
                    <span class="float-right text-muted small"><em>{{publishedWorkflow.process.processName}}</em></span>
                </a>
            </div>
          </div>
          
      </div>
    
  </div>

</div> -->

<div class="row">
  
    <!-- /.col-lg-8 -->
    <div class="col-lg-12">
        <div class="card card-default mb-3">
            <div class="card-header">
                <i class="fa fa-bell fa-fw"></i> Open Workflows
            </div>
            <!-- /.card-header -->
            <div class="card-body">
              <div class="list-group">
                  <a *ngFor="let stage of openWorkflowStages"  [routerLink]="" class="list-group-item clearfix d-block" (click)="OnOpenWorkflowStageClick(stage,content)" >
                    <!-- {{stage|json}}   -->
                    <i class="fa fa-cogs fa-fw"></i> {{stage.formNode.label}}
                      <span class="float-right text-muted small"><em>{{stage.workflowMaster.process.processName}}</em></span>
                  </a>
              </div>
            </div>
            <!-- /.card-body -->
        </div>
      
    </div>
    <!-- /.col-lg-4 -->
  </div>
</div>


<div class="row" *ngIf="workflowTrackList && workflowTrackList.length!=0">
  <div class="col col-xl-12 col-lg-12">
      <div class="card mb-3">
          <div class="card-header">
              Workflow Track List
          </div>
         <div class="card-body table-responsive">
       
          <ngx-datatable class="ngx-datatable bootstrap"
              #table
              [rows]="workflowTrackList"
              
              [columnMode]="'force'"
              [headerHeight]="50"
              [footerHeight]="50"
              [rowHeight]="'auto'"
              [limit]="10"
              >
              <ngx-datatable-column [width]="50" name="#">
                  <ng-template let-rowIndex="rowIndex"  ngx-datatable-cell-template>
                      {{rowIndex+1}}
                  </ng-template>
                 
              </ngx-datatable-column>
              <ngx-datatable-column prop="workflowNode.label" name="Action"  ></ngx-datatable-column>
              <ngx-datatable-column prop="workflowTrackMaster.workflowMaster.workflowName" name="Workflow"  ></ngx-datatable-column>
              <!-- <ngx-datatable-column prop="accessDate" name="Date"  ></ngx-datatable-column> -->
              
              <ngx-datatable-column name="accessDate" > 
                <ng-template let-column="column" let-sort="sortFn" ngx-datatable-header-template> 
                    <span (click)="sort()">Date</span>
                </ng-template> 
                <ng-template let-value="value" ngx-datatable-cell-template>
                        {{value}}
                </ng-template>
            </ngx-datatable-column>
              
          </ngx-datatable>
      </div>
  </div>
</div>
</div> 



<!-- {{workflowStage|json}} -->
<ng-template #content let-c="close" let-d="dismiss">
    <div class="modal-header">
      <h6 class="modal-title">{{form.formName}}</h6>
      <button type="button" class="close" aria-label="Close" (click)="d('Close click')">
          <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body" >
        
      <app-workflow-form-view [form]="form" [formDesignList]="formDesignList"   >   </app-workflow-form-view>
     
    </div>
    <div class="modal-footer">
        <div *ngFor="let actionNode of workflowStage.actionNodes">
            <button type="button" class="btn btn-secondary" (click)="onActionClick(actionNode)">{{actionNode.label}}</button>
        </div>
            <button type="button" class="btn rounded-btn"  (click)="c('Close click')">Close</button>
            
        
      </div>
</ng-template>

