<div [@routerTransition]>
<app-page-header [heading]="''" [icon]="''"></app-page-header>
<!-- <div class="row">
  
  
  <div class="col-lg-12">
      <div class="card card-default mb-3">
          <div class="card-header">
              <i class="fa fa-bell fa-fw"></i> Published Workflows
          </div>
       
          <div class="card-body">
            <div class="list-group">
                <a *ngFor="let publishedWorkflow of publishedWorkflows"  [routerLink]="" class="list-group-item clearfix d-block" (click)="OnWorkflowClick(publishedWorkflow,content)" >
                    <i class="fa fa-cogs fa-fw"></i> {{publishedWorkflow.workflowName}}
                    <span class="float-right text-muted small"><em>{{publishedWorkflow.process.processName}}</em></span>
                </a>
            </div>
          </div>
          
      </div>
    
  </div>

</div> -->

<div class="row">
  <div class="col-lg-4 col-md-12 my-0">
   
    <!-- <panel header="Published Workflows">
        <mdb-card-body>
        
          <div class="list-group list-panel">
             
          </div>
        </mdb-card-body>
      </panel> -->
      <mdb-card class="mb-3" borderColor="border-info" style="max-width: 30rem">
          <mdb-card-header class="bg-transparent border-info">Published Workflows</mdb-card-header>
          <mdb-card-body>
            
            <mdb-card-text>
                <a *ngFor="let stage of publishedWorkflows"  [routerLink]="" class="list-group-item clearfix d-block" (click)="OnOpenWorkflowStageClick(stage,content)" >
                    <i class="fa fa-cogs fa-fw"></i> {{stage.formNode.label}}
                      <span class="float-right text-muted small"><em>{{stage.workflowMaster.process.processName}}</em></span>
                  </a>
            </mdb-card-text>
          </mdb-card-body>
        </mdb-card>
<!-- </div> -->

</div>
    <!-- /.col-lg-8 -->
    <div class="col-lg-8 col-md-12 my-0">
      
            <!-- <panel header="Published Workflows">
                <mdb-card-body>
                
                  <div class="list-group list-panel">
                     
                  </div>
                </mdb-card-body>
              </panel> -->
              
              <mdb-card class="mb-3" borderColor="border-info" >
                  <mdb-card-header class="bg-transparent border-info">Initiated Workflows</mdb-card-header>
                  <mdb-card-body>
                    
                    <mdb-card-text>
                      
                        <div *ngFor="let stage of openWorkflowStages"  [routerLink]="" class="list-group-item clearfix d-block bc-icons-2"  >
                         
                          <mdb-breadcrumb customClass="black-text lighten-4" textTransform="lowercase" >
                              
                              <mdb-breadcrumb-item fontWeight="normal" class="active" *ngFor="let nodeLabel of stage.breadCrumpList " >
                                  <mdb-icon fas icon="angle-right" class="mr-1"></mdb-icon>{{nodeLabel}}
                              </mdb-breadcrumb-item>
                                <mdb-breadcrumb-item fontWeight="bold" >
                                    <mdb-icon fas icon="angle-right" class="mr-1"></mdb-icon>
                                    <a href="Javascript:void(0)" (click)="OnOpenWorkflowStageClick(stage,content)" >{{stage.formNode.label}} </a>
                                </mdb-breadcrumb-item>
                          </mdb-breadcrumb>
                           
                              <span class="float-right text-muted small"><em>{{stage.workflowMaster.process.processName}}</em></span>
                        </div>
                    </mdb-card-text>
                  </mdb-card-body>
                </mdb-card>
        <!-- </div> -->
      
    </div>
   
    <!-- /.col-lg-4 -->

    <!-- <div class="col-lg-4 col-md-12 my-0">
   
        <panel header="Initiated Workflows">
            <mdb-card-body>
            
              <div class="list-group list-panel">
                  <a *ngFor="let stage of openWorkflowStages"  [routerLink]="" class="list-group-item clearfix d-block" (click)="OnOpenWorkflowStageClick(stage,content)" >
                    <i class="fa fa-cogs fa-fw"></i> {{stage.formNode.label}}
                      <span class="float-right text-muted small"><em>{{stage.workflowMaster.process.processName}}</em></span>
                  </a>
              
              </div>
            </mdb-card-body>
          </panel>
  
  
</div> -->
  </div>



<app-workflow-track-master></app-workflow-track-master>

</div>

<!-- {{workflowStage|json}} -->
<ng-template #content let-c="close" let-d="dismiss">

  
    <div class="modal-content">
        <div class="modal-header light-blue darken-3 white-text">
                <h4 class="title">
                    <mdb-icon fab icon="wpforms"></mdb-icon> {{form.formName}}
                </h4>
                <button type="button" class="close waves-effect waves-light" data-dismiss="modal" aria-label="Close" (click)="d('Close click')">
                <span aria-hidden="true">×</span>
                </button>
      </div>

      <div class="modal-body mb-0">
          <app-workflow-form-view [form]="form" [formDesignList]="formDesignList"   >   </app-workflow-form-view>
    </div>
   
  
    <div class="modal-footer flex-center">
        <div *ngFor="let actionNode of workflowStage.actionNodes">
            <button type="button" class="btn btn-secondary" (click)="onActionClick(actionNode)">{{actionNode.label}}</button>
        </div>
            <!-- <button type="button" class="btn rounded-btn"  (click)="c('Close click')">Close</button> -->
            
        
      </div>
  </div>
</ng-template>

