
<div class="row" *ngIf="workflowTrackList && workflowTrackList.length!=0">
    <div class="col col-xl-12 col-lg-12">
        <div class="card mb-3">
            <div class="card-header">
                Workflow Track List
            </div>
           <div class="card-body table-responsive">
         
            <ngx-datatable class="ngx-datatable bootstrap"
                #table
                [rows]="workflowTrackList"
                
                [columnMode]="'force'"
                [headerHeight]="50"
                [footerHeight]="50"
                [rowHeight]="'auto'"
                [limit]="10"
                >
                <ngx-datatable-column [width]="50" name="#">
                    <ng-template let-rowIndex="rowIndex"  ngx-datatable-cell-template>
                        {{rowIndex+1}}
                    </ng-template>
                   
                </ngx-datatable-column>
                <ngx-datatable-column prop="workflowNode.label" name="Action"  ></ngx-datatable-column>
                <ngx-datatable-column prop="workflowTrackMaster.workflowMaster.workflowName" name="Workflow"  ></ngx-datatable-column>
                <!-- <ngx-datatable-column prop="accessDate" name="Date"  ></ngx-datatable-column> -->
                
                <ngx-datatable-column name="accessDate" > 
                  <ng-template let-column="column" let-sort="sortFn" ngx-datatable-header-template> 
                      <span (click)="sort()">Date</span>
                  </ng-template> 
                  <ng-template let-value="value" ngx-datatable-cell-template>
                          {{value}}
                  </ng-template>
              </ngx-datatable-column>
                
            </ngx-datatable>
        </div>
    </div>
  </div>
  </div> 