
<!-- <div class="row" *ngIf="workflowTrackList && workflowTrackList.length!=0"> -->
    <mdb-card *ngIf="workflowTrackList && workflowTrackList.length!=0" class="mb-5">
        <mdb-card-body>
         
            <ngx-datatable class="ngx-datatable bootstrap"
                #table
                [rows]="workflowTrackList"
                
                [columnMode]="'force'"
                
               
                [rowHeight]="'auto'"
               
                >
                <ngx-datatable-column [width]="50" name="#">
                    <ng-template let-rowIndex="rowIndex"  ngx-datatable-cell-template>
                        {{rowIndex+1}}
                    </ng-template>
                   
                </ngx-datatable-column>
                <ngx-datatable-column prop="workflowFormNode.label" name="Form"  ></ngx-datatable-column>
                <ngx-datatable-column prop="workflowActionNode.label" name="Action"  ></ngx-datatable-column>
                <ngx-datatable-column prop="childWorkflowTrackMaster.id" name="Child workflow id"  ></ngx-datatable-column>
                <ngx-datatable-column prop="accessUser.username" name="User"  ></ngx-datatable-column>
                <!-- <ngx-datatable-column prop="accessDate" name="Date"  ></ngx-datatable-column> -->
                
                <ngx-datatable-column name="accessDate" > 
                  <ng-template let-column="column" let-sort="sortFn" ngx-datatable-header-template> 
                      <span (click)="sort()">Date</span>
                  </ng-template> 
                  <ng-template let-value="value" ngx-datatable-cell-template>
                          {{value}}
                  </ng-template>
              </ngx-datatable-column>
                
            </ngx-datatable>
        </mdb-card-body>
        </mdb-card>
  
  <!-- </div>  -->